@import "form-builder";
@import "material-data-table";

.mw-form-builder{
  .mw-form-page-builder {
    .mw-form-page-element-builder{
      padding: 20px 10px;
      &.inactive{
        padding: 10px 7px;
      }
    }
    .mw-form-question-builder-wrapper {

      .mw-question-text {
        font-weight: bold;
        margin-bottom: 10px;
      }

      .mw-question-other-answer{
        md-input-container{
          margin: 0;
        }
      }
    }

    .mw-question-division-builder{
      margin-top: 15px;

    }
    .mw-division-list{
      md-input-container{
        margin: 0;
      }
    }
  }
  .mw-title-page{
    padding-top: 20px;
  }
  md-input-container{
    margin: 7px 0;
  }

  .mw-question-other-answer{
    md-input-container{
      margin: 0 5px;
    }
  }

}
.md-toolbar-paragraph{
    margin: 10px 5px;
}
.md-button-group .md-button {
    font-size: 16px;
    margin: 5px 0;
    padding: 3px ;
    min-width: 48px;
    text-transform: none;
    font-weight: 400;
}

.md-button-group .md-button.left {
    border-radius: 10px 0 0 10px;
}

.md-button-group .md-button.middle {
    border-radius: 0;
    border-left: 1px solid rgba(230, 230, 230, 0.96);
    border-right: 1px solid rgba(230, 230, 230, 0.96);
}

.md-button-group .md-button.right {
    border-radius: 0 10px 10px 0;
}

.md-button-group .md-button:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
}
md-button-mini{
    padding:5px
}
.md-text-area{
 border:1px solid #f00;   
}